*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

.bkg{
    background-image: url('https://media.discordapp.net/attachments/837501220880121916/887775263818121277/unknown.png?');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.aviso{
    color: rgb(240, 236, 18);
    border-color: rgb(240, 236, 18);
}

.importante{
    color: rgb(18, 207, 240);
    border-color: rgb(18, 207, 240);
}

.sucesso{
    color: rgba(48, 211, 26, 0.637);
    border-color: rgba(48, 211, 26, 0.637);
}

.negado{
    color: rgba(241, 25, 25, 0.918);
    border-color: rgba(241, 25, 25, 0.918);
}

li .fas{
    font-size: 1.4rem;
    width: 3vw;
    padding: 1vh 0vw 0vh 1.5vw;
}

li p{
	color: #f0eeee;
    font-family: 'roboto';
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1.3vh 0vw 0vh 0.5vw;
    width: 11vw;
}


ul {
    width: 15vw;
    height: 50vh;
    float: right;
    margin-top: 30vh;
    background-color: teal;
}

ul li{
    list-style: none;
    margin: 1vh;
    height: 5vh;
    width: 14vw;
    background-color: rgba(0, 0, 0, 0.705);
    border-top: 1vh solid rgba(48, 211, 26, 0.637);
    border-radius: 1vh;
    display: flex;
}


